@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.wrapper {
    border-radius: 8px;
    width: 400px;
    background: #fff;
}
.wrapper header {
    display: flex;
    align-items: center;
    font-size: 21px;
    color: #615ba7;
    border-bottom: 1px solid #cac7e0;
    font-weight: 500;
    padding: 16px 15px;
}

header i {
    cursor: pointer;
    font-size: 0px;
    margin-right: 8px;
}
.wrapper.active header {
    font-size: 30px;
    margin-left: 5px;
}
.wrapper .input-part {
    margin: 20px 25px 30px;
}


.input-part .info-txt {
    display: none;
    font-size: 17px;
    margin-bottom: 10px;
    text-align: center;
    padding: 12px 10px; 
    border-radius: 8px;
}
.info-txt.error{
    display: block;
    color: #721c24;
    background: #f8dcda;
    border: 1px solid #f5c6cb;
}
.info-txt.pending {
    display: block;
    color: #423b7e;;
    background: #dbd9eb;
    border: 1px solid #c1beda;
}
.input-part :where(input, button) {
    width: 100%;
    height: 55px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 18px;
}
.input-part input{
    text-align: center;
    border: 1px solid #a09ccc;
}
.input-part input:is(:focus, :valid) {
    border: 2px solid #8881c2;
}
.input-part button {
    color: #fff;
    cursor: pointer;
    background-color: #615ba7;
}
.input-part .separator {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.separator::before {
    content: 'or';
    background: #fff; 
    padding: 0 16px;
    font-size: 18px;
    color: #ccc;
    
}

.wrapper .weather-part {
    margin: 30px 0 0;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.wrapper.active .weather-part {
    display: flex;
}
.weather-part img {
    max-width: 125px;
}
.weather-part .temp {
    font-size: 72px;
    font-weight: 500;
    display: flex;
}
.weather-part .temp .numb {
    font-weight: 600;
}
.weather-part .weather {
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}
.weather-part .temp .deg {
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}
.weather-part .location {
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
}
.location i {
    font-size: 22px;
    margin-right: 5px;
}
.weather-part .bottom-details {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #eeeeee;
    justify-content: space-between;
}
.bottom-details .column {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0;
}
.column i {
    font-size: 40px;
    color: #423b7e;
    
}
.column.humidity {
    border-left: 1px solid #eeeeee;
}
.details .temp, .humidity span {
    font-size: 18px;
    font-weight: 500;
}
.details .temp .deg {
    font-size: 17px;
    margin: 0;
    padding: 0 2px 0 1px;
}
