@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.wrapper {
    border-radius: 8px;
    width: 400px;
    background: #fff;
}
.wrapper header {
    display: flex;
    align-items: center;
    font-size: 21px;
    color: #615ba7;
    border-bottom: 1px solid #cac7e0;
    font-weight: 500;
    padding: 16px 15px;
}

header i {
    cursor: pointer;
    font-size: 30px;
    margin-right: 8px;
}
.wrapper .input-part {
    margin: 20px 25px 30px;
}
.input-part .info-txt {
    font-size: 17px;
    margin-bottom: 10px;
    text-align: center;
    padding: 12px 10px; 
    border-radius: 8px;
}
.info-txt.error{
    color: #721c24;
    background: #f8dcda;
    border: 1px solid #f5c6cb;
}
.info-txt.pending {
    color: #423b7e;;
    background: #dbd9eb;
    border: 1px solid #c1beda;
}
.input-part :where(input, button) {
    width: 100%;
    height: 55px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 18px;
}
.input-part input{
    text-align: center;
    border: 1px solid #a09ccc;
}
.input-part button {
    color: #fff;
    cursor: pointer;
    background-color: #615ba7;
}
.input-part .separator {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.separator::before {
    content: 'or';
    background: #fff; 
    padding: 0 16px;
    font-size: 18px;
    color: #ccc;
    
}